.Item {
    width: 250px;
    height: 130px;
    background-color: white;
    margin: 10px;
    padding: 5px;
    -webkit-box-shadow: 4px 4px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 4px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 4px 4px 1px 1px rgba(0,0,0,0.15);  
    text-align: center;
  }
  
  .Item > h2 {
    margin: 0;
    padding: 0;
    color: rgb(199, 118, 12);
  }
  .Item > h4 {
    margin: 0;
    padding: 0;
    color: rgb(233, 50, 50);
  }
  
  .Item > p {
    margin: 0;
    font-size: 1.2em;
    background-color: #555;
    color: #fff;
    color: rgb(233, 50, 50);
  }
  