.Dashboard {
	width: 15%;
	display: flex;
	flex-flow: column;
	background-color: rgba(97, 187, 104, 0.993);
	padding-left: 2rem;
	box-sizing: border-box;
	font-size: 1.7rem;
}
.Dashboard > * {
	color: #f0f0f0;
	text-decoration: none;
}
.Dashboard > h2 {
	font-size: 1.3rem;
	color: #fff;
	font-family: monospace;
}
.Dashboard > h3 {
	font-size: 1.2rem;
	color: #444;
}
.Dashboard > a {
	margin: 5px 5px;
}

.DataTable {
	width: 85%;
}

.Grid {
	display: flex;
	flex-flow: row;
	width: 100%;
	background-color: #fff;
}

.Table {
	padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2rem;

	width: 80%;
	box-sizing: border-box;
}

.firstElem {
	color: #333 !important;
	background-color: green !important;
	color: #fff !important;
}

.Sidebar {
	background-color: #f9f9f9;
}

.Sidebar__list {
	list-style: none;
	padding: 2rem;
}

.Sidebar__list li {
	margin: 6px;
}

.DropdownBtn > button {
	font-size: 1.8rem;
}

.Link {
	color: #4691f6;
	font-size: 1.8rem;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none !important;
}
.Link:hover {
	color: darkblue;
}
.LinkSeparator {
	color: #444;
	font-size: 2rem;
	font-weight: 400;
	display: inline-block;
	margin: 1rem;
}
.Warning {
	margin: 10rem auto;
	text-align: center;
	font-size: 2rem;
}
