.Auth {
	height: 100vh;
	width: 100%;
}

.Window {
	height: 100vh;
	width: 100%;
	margin: auto;
}

.Img {
	width: 100%;
	padding: 0;
}

.ImgSvg {
	width: 150px;
	height: 150px;
	margin: 0px auto;
}

.Container {
	margin-top: 100px;
}
.TextBox {
	padding: 0;
	text-align: left;
	margin: auto;
	margin-bottom: 200px;
}
.TextBox h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: normal;

	color: #333333;
}
.TextBox p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;

	color: #333333;
}

.Form {
	width: 60%;
	margin: auto;
}
