.Auth {
	height: 100vh;
	width: 100%;
}

.Window {
	height: 100vh;
	width: 100%;
	margin: auto;
}

.Img {
	width: 100%;
	padding: 0;
}

.Container {
	margin-top: 100px;
}
.TextBox {
	padding: 0;
	text-align: left;
	margin: auto;
	margin-bottom: 200px;
}
.TextBox h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 60px;
	line-height: normal;

	color: #333333;
}
.TextBox p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;

	color: #333333;
}

.ButtonSave,
.ButtonSave:focus,
.ButtonSave:link {
	display: inline-block;
	background: #38d39f;
	border-radius: 6px;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: normal;
	padding: 10px 15px;
	margin-top: 20px;
	text-decoration: none;
	transition: 0.3s all;

	color: #ffffff;
}
.ButtonSave:hover {
	background: #30a37d;
	color: #fff;
}

.Form {
	width: 60%;
	margin: auto;
}
