.SearchResult {
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-items: center;
	background-color: rgb(41, 150, 61);
	width: 100%;
	height: 100vh;
}

.h1 {
	justify-self: start;
	color: #666;
	margin-left: 15px;
}
