.TitleMain {
	background-color: #f7f7f7;
	box-shadow: 0.1px 1px 4px 0 #e7eeef;
	padding: 1.5rem 50px;
	z-index: 10;
}
.Title {
	font-size: 2.3rem;
	margin: 2rem 0;
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
}
