.SettingsWrapper {
	margin-top: 50px;
	padding-bottom: 100px;
}
.UserWrapper {
	background-color: #fff;
}
.UserAvatar {
	position: relative;
	text-decoration: none;
	z-index: 50;
	margin: 20px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
	color: #333;
}
.UserAvatar::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100px;
	border: 1px solid transparent;
	background-color: var(--color-primary);
	z-index: -1;
	width: 60px;
	height: 60px;
	transform: translate(-50%, -50%);
	transition: 0.3s all;
}

.User {
	background-color: #f7f7f7;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
	padding: 25px;
	margin: 20px;
}
.Settings {
	box-sizing: border-box;
	background-color: #f7f7f7;
}
.DownloadDataWrapper {
}

.Desc {
	margin: 20px;
	flex-flow: column;
	color: #555;
}
.Title {
	margin: 20px 0;
	font-weight: bold;
	color: var(--color-primary);
}
.UserSettings {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
	padding: 25px;
	margin: 20px;
}

.Buttons > * {
	margin: 20px;
}
