.MainStatus {
  background: #68B067;
  height: 300px;
}
 

.Graphs {
  margin-top: 300px;
  margin-bottom: 100px;
  padding: 20px;
  display: flex;
  flex-flow: column;
}
  .Graph {
    max-width: 400px !important;
    width: 100%;
    height: 400px;
  }