input[type=text] ,input[type=number], select, textarea {
    border: 2px solid #aaa;
    width: 30%;
    border-radius: 4px;
    outline: none;
    margin: 8px 0;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  input[type=text]:focus {
    border-color: green;
    box-shadow: 0 0 8px 0 green;
  }
  input[type=number]:focus {
    border-color: green;
    box-shadow: 0 0 8px 0 green;
  }
  select:focus {
    border-color: green;
    box-shadow: 0 0 8px 0 green;
  }
  
  textarea:focus {
    border-color: green;
    box-shadow: 0 0 8px 0 green;
  }
  label {
    color: white;
    font-size: 1.3em;
    margin: 10px;
  }

.Form{
    background-color:  #29963d;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    color: #fff;
}

.BtnInverted {
    text-decoration: none;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #444 ;
    color: white ;
    cursor: pointer;
  }
  
  .BtnInverted:hover {
    background-color: #555 ;
    transform: scale(1.05);
  }
