.Footer {
	background-color: #39424e;
	text-align: center;
	padding: 6rem;
	color: #fff;
	font-size: 1.6rem;
}
.MainRow {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.Highlight {
	color: var(--color-primary);
	text-decoration: none !important;
}
.Highlight:hover {
	color: var(--color-primary-dark);
}

.Title {
	font-size: 3rem;
	color: var(--color-primary);
	display: inline-block;
}

.ListLinks {
	width: 100%;
	max-width: 20rem;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	list-style: none;
}
.ListLinks a {
	color: #fff;
}
.Desc {
	text-align: left;
	max-width: 40rem;
	width: 100%;
}
.LinkSocials {
	width: 100%;
	margin: 1rem 0;
	padding: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.LinkSocials li {
	position: relative;
	font-size: 1.2rem;
	padding: 5px 1.5rem;
	cursor: pointer;
}
.LinkSocials li a {
	color: #fff;
	font-size: 2rem;
}
.LinkSocials li:not(:last-child) {
	margin-right: 2rem;
}
.LinkSocials li:hover {
	color: red !important;
}

.LinkSocials li::after {
	content: "";
	position: absolute;
	width: 4rem;
	height: 4rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	border-radius: 100px;
}
