.nav {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	padding: 2rem 3.5rem;

	background-color: #4c4b61;
	/* IF the width is changed, dont forget to change on the ::after of the active link*/
	width: 220px;
	height: 100vh;
}

.user-area {
	width: 100%;
	height: 100px;
	position: relative;
	margin-bottom: 6.2rem;
}

.user {
	position: absolute;
	top: 0;
	left: 10%;
	display: inline-block;
	color: #111;
	font-size: 3rem;
	z-index: 1;
}
.user::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background-color: var(--color-primary);
	width: 54px;
	height: 54px;
	z-index: -1;
}
.username {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	color: #fff;
	font-weight: 300;
	font-size: 2rem;
}

.items-list {
	display: flex;
	flex-flow: column;
}

.nav-item {
	color: #fff;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1.5rem 0;
	z-index: 1;
	position: relative;
	text-decoration: none;
}
.nav-item:hover {
	text-decoration: none;
	color: var(--color-primary);
}
.nav-item::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: 55px;
	z-index: -1;
}

.nav-item__active::after {
	background-color: var(--color-primary);
}
.nav-item__active:hover {
	color: #fff;
}
