.Box {
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 2.5rem;
	margin: 2rem;
	max-width: 60rem;
	margin: auto;
	font-size: 1.7rem;
}
.Box > * {
	padding: 1rem;
	border-bottom: 1px solid #eee;
}
.Box > *:last-child {
	padding: 2rem 1rem;
	border-bottom: 0;
}
