.Box {
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 25px;
	margin: 20px;
	max-width: 600px;
	margin: auto;
}
.Box > * {
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.Box > *:last-child {
	padding: 20px 10px;
	border-bottom: 0;
}
