.Data {
    margin-top: 0px;
    width: 20%;
    display: flex;
    flex-flow: column;
    padding-right: 10px;
}
.DataItem {
    padding: 5px 10px;
    margin: 5px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}
    .DataItem > h3,p  {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .DataItem > p {
        font-family: monospace;
        font-size: 1.2rem;
    }

    .DataItem > * {
        color: #333;
    }

