.HistoryBox {
	justify-content: space-between;
	padding: 2rem;
	color: #555;
	max-width: 52rem;
	margin-left: 5px;
	width: 100%;
	border-radius: 12px;
	background: var(--color-primary-light);
}

.Item {
	margin: 0;
	line-height: 2.5rem;
	margin-left: 2rem;
	font-style: normal;
	font-weight: 300;
	font-size: 1.6rem;

	color: #555555;
}
.ItemBold {
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #333333;
	margin: 0.5rem 0;
}

.Buttons {
	justify-content: space-evenly;
	width: 100%;
	margin: 2rem auto;
	width: 100%;
	max-width: 40rem;
}
.Buttons > * {
	font-size: 1.7rem;
}
