.Navbar {
    display: flex;
    flex-flow: row;

    Background-color: #333;
    color: white;

    justify-content: space-around;

    box-sizing: border-Box;
    height: 70px;
    width: 100%;
} 
.Navbar ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin-left: 15px; 
}

.Logo {
    color: white;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: Bold;
    align-self: center;
    margin-top: -10px;
}

.Btn {
    text-decoration: none;
    background:  #29963d;
    color: white;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .Btn:hover {
    background: rgB(20, 209, 55);
  }
  .Btn-danger {
    text-decoration: none;
    color: white;
    background: red;
    border: 0;
  }
  .Btn-danger:hover {
    background: rgB(221, 50, 50);
    transform: scale(1.1);
  }
  .inverted {
    background-color: #444 !important;
    color: white !important;
  }
  .inverted:hover {
    background-color: #555 !important;
    transform: scale(1.05);
  }
  
  @media screen and (max-width: 1070px){
    .Btn {
      padding:5px 10px 5px 10px;
      margin: 5px;
    }
  }