.Navbar {
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
}
.Brand  {
    color: #3EC094 !important;
    font-size: 30px;
}
.Link {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: normal;
    margin: 10px 15px;
    color: var(--color-text-primary) !important;
}
    .Link:hover {
        color: var(--color-primary-dark) !important; 
    }