.Navbar {
	background-color: #fff;
	padding: 1rem 4rem;
	box-shadow: 0.1px 1px 4px 0 #e7eeef;
}
.Brand {
	color: #3ec094 !important;
	font-size: 30px;
}
.Link {
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: normal;
	margin: 10px 1.5rem;
	color: var(--color-text-primary) !important;
}
.Link:hover {
	color: var(--color-primary-dark) !important;
}
.User {
	position: relative;
	margin-left: 3rem;
	text-decoration: none;
	font-size: 1.8rem;
	z-index: 1;
}
.User::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100px;
	border: 1px solid transparent;
	background-color: #f0f0f0;
	z-index: -1;
	width: 4rem;
	height: 4rem;
	transform: translate(-50%, -50%);
	transition: 0.3s all;
}
.User:hover::after {
	background-color: #d8d5d5;
}
.User:hover {
	color: #111;
}
