.walletpage {
	background-color: #f0f0f0;
	color: #111;
	font-size: 3rem;
	width: 100%;
}
.container {
	display: flex;
	flex-flow: row;
}

/****** WALLET VIEW STYLES *****/

.alert {
	margin-top: 2rem;
	font-size: 1.8rem;
}
.remove {
	position: absolute;
	top: 0%;
	right: 0%;

	background-color: rgb(243, 94, 94);
	height: 100%;
	width: 20%;
	cursor: pointer;
}
.remove > i {
	font-size: 2.5rem;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Money Tab */
.walletview {
	height: 45vh;
	background-color: #fff;
}
.walletview h3,
.add-form h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 4rem;
	text-align: center;
	padding: 3rem 0;

	color: #000;
}
.walletview--money {
	margin: auto;
	width: 18.7rem;
	height: 7rem;
	padding: 1rem;
	text-align: center;
	background: rgba(56, 211, 159, 0.16);
}
.walletview--money span {
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 41px;

	color: #000;
}

.walletview p {
	padding: 3rem;
	font-style: normal;
	font-weight: 300;
	font-size: 2rem;
	line-height: 3.3rem;
	text-align: center;

	color: #333;
}

.btn {
	margin: 5rem auto;
	text-align: center;
}

/* shopping cart tab */
.shopping-cart {
	padding: 3rem 2rem;
}
.shopping-cart h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 4rem;
	color: #000;
	text-align: center;
}

.shopping-cart--item {
	position: relative;
	font-size: 2rem;
	display: flex;
	flex-flow: column;
	width: 300px;
	color: #333;
	margin: 2rem 0;
	padding: 1rem;
	border-radius: 5px;
	background-color: #fff;
}
.shopping-cart--item__content {
	padding: 1.5rem 1rem;
}
.shopping-cart--item__content--name {
	color: #111;
	font-size: 1.8rem;
}
.shopping-cart--item__content--price {
	color: #333;
	font-weight: bolder;
	font-size: 2.4rem;
}

.shopping-cart--list {
	margin: auto;
	padding: 0;
	margin-top: 2rem;
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	overflow-y: scroll;
	max-height: 60vh;
	max-width: 350px;
}

/* Add form */
.add-form {
	padding: 3rem 10rem;
	background-color: #fff;
	height: 90vh;
	display: flex;
	flex-flow: column;
}
.add-form h3 {
	color: #3ec094;
	text-align: left;
	font-size: 2.8rem;
	text-transform: uppercase;
}
.add-form label,
.add-form input {
	max-width: 40rem;
}
.add-form label {
	font-size: 2rem;
}
.add-form input {
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 1rem;
	margin-bottom: 2rem;
}
.add-form button {
	width: 10rem;
}

@media only screen and (max-width: 650px) {
	.walletview {
		height: 30vh;
	}
	.walletview p {
		display: none;
	}
	.add-form {
		padding: 3rem;
	}
	.shopping-cart--item {
		width: 200px;
	}
}
